<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GC"
        tools:targetApi="31">
        <activity
            android:name=".DasfactivityMainActivity"
            android:exported="false" />
        <activity
            android:name=".otp_Activity"
            android:exported="false" />
        <activity
            android:name=".email_Activity"
            android:exported="false" />
        <activity
            android:name=".getstart_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_activity" />
        <activity android:name=".register_form_activity" />
        <activity android:name=".home_page_activity" />
        <activity android:name=".scrap_rates_activity" />
        <activity android:name=".setting_activity" />
        <activity android:name=".prefile_activity" />
        <activity android:name=".trash_box_activity" />
        <activity
            android:name=".prefile_activity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".drop_your_trash_activity" />
    </application>

</manifest>